<h4>Propiedades input en Angular</h4>
<!-- <app-hijo 
[propiedad_uno]="'Valor de la propiedad uno'"
[propiedad_dos]="'Valor de la propiedad dos'"
>
</app-hijo> -->
<app-hijo
[propiedad_uno]="dato_externo"
[propiedad_dos]="identity"
(desde_el_hijo)="recibirDatos($event)"
></app-hijo>
<hr />

<!-- Los corches  contienen los nombres de las propiedades que existen en el componente hijo de esta manera hago referencia a los @Input() propiedad_uno:string y @input() propiedad_dos que existen en el hijo, luego le envio un string.
   De manera que se cumple el envio desde el Padre hacia el hijo  -->
<!-- 
   con los parentesis () recibo los datos del hijo y hago referencia a la funcion que existe en el componente padre (desde_el_hijo)="recibirDatos($event)" -->
<div *ngIf="datos_del_hijo">
  <h1>{{datos_del_hijo.nombre}}</h1>
  <h1>{{datos_del_hijo.web}}</h1>
  <h1>{{datos_del_hijo.twitter}}</h1>
</div>